# Import and Read in the data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('survey_results_public.csv')

Matplotlib is building the font cache; this may take a moment.

In [2]:
df.head()

,ResponseId,MainBranch,Employment,Country,US_State,UK_Country,EdLevel,Age1stCode,LearnCode,YearsCode,...,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Slovakia,NaN,NaN,"Secondary school (e.g. American high school, G...",18 - 24 years,Coding Bootcamp;Other online resources (ex: vi...,NaN,...,25-34 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,62268.0
1,2,I am a student who is learning to code,"Student, full-time",Netherlands,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",7,...,18-24 years old,Man,No,Straight / Heterosexual,White or of European descent,None of the above,None of the above,Appropriate in length,Easy,NaN
2,3,"I am not primarily a developer, but I write co...","Student, full-time",Russian Federation,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",11 - 17 years,"Other online resources (ex: videos, blogs, etc...",NaN,...,18-24 years old,Man,No,Prefer not to say,Prefer not to say,None of the above,None of the above,Appropriate in length,Easy,NaN
3,4,I am a developer by profession,Employed full-time,Austria,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",11 - 17 years,NaN,NaN,...,35-44 years old,Man,No,Straight / Heterosexual,White or of European descent,I am deaf / hard of hearing,NaN,Appropriate in length,Neither easy nor difficult,NaN
4,5,I am a developer by profession,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,NaN,England,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5 - 10 years,Friend or family member,17,...,25-34 years old,Man,No,NaN,White or of European descent,None of the above,NaN,Appropriate in length,Easy,NaN

In [7]:
df = df[["Employment","Country","EdLevel","YearsCodePro","DevType","OrgSize","Age","ConvertedCompYearly"]]
df = df.rename({"EdLevel": "Education", "YearsCodePro": "Total Years", "ConvertedCompYearly": "Salary"}, axis = 1)
df.head()

,Employment,Country,Education,Total Years,DevType,OrgSize,Age,Salary
0,"Independent contractor, freelancer, or self-em...",Slovakia,"Secondary school (e.g. American high school, G...",NaN,"Developer, mobile",20 to 99 employees,25-34 years old,62268.0
1,"Student, full-time",Netherlands,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN,NaN,NaN,18-24 years old,NaN
2,"Student, full-time",Russian Federation,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN,NaN,NaN,18-24 years old,NaN
3,Employed full-time,Austria,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,"Developer, front-end",100 to 499 employees,35-44 years old,NaN
4,"Independent contractor, freelancer, or self-em...",United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",10,"Developer, desktop or enterprise applications;...","Just me - I am a freelancer, sole proprietor, ...",25-34 years old,NaN

In [8]:
df = df[df["Salary"].notnull()]
df.head()

,Employment,Country,Education,Total Years,DevType,OrgSize,Age,Salary
0,"Independent contractor, freelancer, or self-em...",Slovakia,"Secondary school (e.g. American high school, G...",NaN,"Developer, mobile",20 to 99 employees,25-34 years old,62268.0
9,Employed full-time,Sweden,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",4,Data scientist or machine learning specialist,10 to 19 employees,25-34 years old,51552.0
11,Employed full-time,Spain,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",5,"Developer, back-end",10 to 19 employees,25-34 years old,46482.0
12,Employed full-time,Germany,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,"Developer, desktop or enterprise applications;...","1,000 to 4,999 employees",25-34 years old,77290.0
16,Employed full-time,Turkey,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,"Developer, full-stack",100 to 499 employees,25-34 years old,17748.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46844 entries, 0 to 83438
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Employment   46831 non-null  object
 1   Country      46844 non-null  object
 2   Education    46823 non-null  object
 3   Total Years  46391 non-null  object
 4   DevType      46751 non-null  object
 5   OrgSize      46792 non-null  object
 6   Age          46735 non-null  object
 7   Salary       46844 non-null  float64
dtypes: float64(1), object(7)
memory usage: 3.2+ MB

In [10]:
df = df.dropna()
df.isnull().sum()

Employment     0
Country        0
Education      0
Total Years    0
DevType        0
OrgSize        0
Age            0
Salary         0
dtype: int64